.initialGrid {
  display: flex;
  flex-direction: row-reverse;
  @media (max-width: 767px) {
    margin-right: 20px;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    margin-right: 110px;
  }
  @media (min-width: 1024px) {
    margin-right: 120px;
  }
}

.nameStyle {
  color: white;
  font-family: Montserrat, sans-serif;
  display: flex;
  justify-content: center;
  @media (max-width: 767px) {
    font-size: 43px;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 75px;
  }
  @media (min-width: 1024px) {
    font-size: 100px;
  }
}

.subNameStyle {
  color: #f5f5dc;
  font-weight: bolder;
  font-family: Montserrat, sans-serif;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  @media (max-width: 767px) {
    font-size: 14px;
    text-align: center;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 24px;
    text-align: center;
  }
  @media (min-width: 1024px) {
    font-size: 24px;
  }
}

.abtMe {
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  margin: 10px;
  @media (max-width: 767px) {
    font-size: 10px;
  }
  @media (min-width: 768px) and (max-width: 1023px) {
    font-size: 12px;
  }
  @media (min-width: 1024px) {
    font-size: 16px;
  }
}
